* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0.5rem;
}

header,
footer {
    width: 100%;
    height: 10%;
    text-align: center;
    align-content: center;
    background-color: white;
}

main {
    width: 100%;
    display: grid;
    gap: 2rem;
    padding: 2rem 0;
    border: 0.125rem solid black;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
}

.card {
    padding: 0.5rem;
    border: 1px solid black;
}

.card__image {
    width: 100%;
    height: 8rem;
}

.card__detail {
    font-size: small;
    text-align: center;
    padding: 0.5rem;
}

footer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

footer span {
    font-size: larger;
}

@media screen and (width > 576px) {
    main {
        padding: 3rem 0;
    }

    .card__image {
        height: 12rem;
    }
}

@media screen and (width > 768px) {
    main {
        grid-template-columns: repeat(3, 30%);
    }

    .card__image {
        height: 16rem;
    }
}